* {
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

/* Navbar code */
nav {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#upper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding: 10px;

}

.searchbar {
    height: 25px;
    width: 20%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
}

.searchbar input {
    width: 90%;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;

}

.searchbar button {
    width: 10%;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.searchbar button img {
    width: 100%;
}

#login>img,
#cart>a>img {
    height: 100%;
}

#login,
#cart {
    border: 0;
    background-color: white;
    cursor: pointer;
    height: 45px;

}
#upper>a{
    margin-right: 20%;
}
#logo {
    width: 100px;
    border-radius: 50px;
}

.lowernav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 14px;
    color: #ffffff;
    margin: auto;
}

#lower ul li {
    background: white;
    position: relative;
    display: inline-block;
}

#lower ul li a {
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 14px;
}

#lower ul ul {
    position: absolute;
    top: 60px;
    display: none;
}

#lower ul li:hover>ul {
    display: block;
}

#lower ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

#lower ul ul ul li {
    position: relative;
    top: -60px;
    letter-spacing: 150px;

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Footer styling */
.container1 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-around;
    width: 85%;
    margin: auto;
    line-height: 30px;
}

.social {
    display: flex;

}

.social img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.container2 {
    background-color: #f2f2f2;
    color: #666666;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    line-height: 30px;

}

.searchbar2 {
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.searchbar2 input {

    background: transparent;
    flex: 1;
    border: 0;
    outline: none;


}

.searchbar2 button {
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 10px;
}

.child1>input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    border: 1px solid lightgray;
    height: 32px;
    width: 58%;
}

.maincontainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}

.sidebar {
    width: 13%;
    height: 700px;
    /* background-color: #666666; */
    padding: 10px;
    padding-right: 20px;
    color: #767676;
}



.sidebar ul {
    line-height: 30px;
    font-size: 14px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.main {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 20px;
}

.main>div {
    padding: 10px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 50px;
}

.main>div img {
    width: 100%;
}

.main>div button {
    display: flex;
    width: 100%;
    height: 40px;
   align-items: center;
   justify-content: center;
    background-color: #333333;
    border: none;
    padding: 5px;
    color: white;
}
.main>div>p:nth-of-type(1){
    font-size: small;
    color: #666666;
}
.main>div>p:nth-of-type(2){
    color: red;
    font-size: small;
    font-style: italic;
}